<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр данных</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>
    function deleteEntry(entryId){
        $.ajax({
            url: '/delete_entry?entry_id='+entryId,
            type: 'DELETE',
            success: function(){
                showEntries("");
            }
        })
    }
    function showEntries(pattern){
        let language = window.location.pathname.split("/")[2];
        $.get('/find_entries_in_dictionary?pattern='+pattern+'&language='+language, function(data){
            var dictView = "<table>";
            if(data.length == 0){
                dictView = "<h2>Значений не найдено</h2>";
            }
            else{
                for(i = 0; i < data.length; i++){
                    dictView = dictView + "<tr>" +
                    "<td>" + data[i].original + "</td>" +
                    "<td> - </td>" +
                    "<td>" + data[i].translate + "</td>" +
                    "<td><button onclick=\"deleteEntry("+ data[i].entryId +")\">Удалить</button></td>" +
                    "<td><a href=\"/edit_entry?entryId="+data[i].entryId+"&key="+data[i].original+"&value="+data[i].translate+"&language="+language+"\">Редактировать</a></td>" +
                    "</tr>";
                }
                dictAdd = "<a href=\"/add_entry?language="+language+"\">Добавить</a>"
                dictView = dictView + "</table>";
                dictSearch = "<input placeholder=\"Поиск\" type=\"text\" onchange=\"searchEntries(this.value, "+data[0].language+")\"/><div/>";
                $("#dictSearch").html(dictSearch);
            }
            $("#dictAdd").html(dictAdd);
            $("#dictTable").html(dictView);
        });
    }
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("dictSearch").addEventListener('input',function (){
            showEntries(document.getElementById("dictSearch").value);
        });
    });
    $(document).ready(function (){
    let pattern = ''
        showEntries(pattern);
    });
</script>
<body>
<a href="/">На главную</a>
<input id="dictSearch" placeholder="Поиск" type="text"/>
<div id="dictAdd"></div>
<div id="dictTable"></div>
</body>
</html>